.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    .input-group{
      margin: 0 10px;
      padding: 5px 0;
      width: 31%;
    }   
    .btn-group{
      margin: 0 10px;
      padding: 5px 0;
    }
}