$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;
$icon-color: #b2b2b2;
$icon-edit-hover-color:#3498db;
$icon-delete-hover-color: #c0392b;
$icon-save-hover-color:#8e44ad;
$icon-cancel-hover-color: #555555;

$icon-pencil: "\e905";
$icon-floppy-disk: "\e962";
$icon-bin: "\e9ac";
$icon-plus: "\ea0a";
$icon-cross: "\ea0f";

